body {
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 90ch;      
    margin: 0;             
    border: 1px solid red;  
}

.Search_box{
    display: flex;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.container{
    border: 1px solid;
    align-items: center;
    display: flex;
    gap: 18px;
    width: auto;
    align-items: center;
    justify-content: center;

}
.Profile_info{
    border: 1px solid red;
    text-align: center;
    width:  200px;
    height: 200px;

}
.Repository{
    border: 1px solid gold;
    text-align: center;
    width:  200px;
    height: 200px;
    
}