body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90ch;
    margin: 0;
    border: 1px solid red;
    background-color: rgba(67, 94, 117, 0.137);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.Search_box {
    display: flex;
    gap: 12px;
}

.Input_bar {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
}

.Search_btn {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 3s ease transform 1 ease;
}

.Search_btn:hover {
    background-color: blue;
    transform: scale(1.01);
}

.container {
    border: 1px solid;
    align-items: center;
    display: flex;
    gap: 18px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.Profile_info {
    border: 1px solid red;
    text-align: center;
    width: 250px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.Repository {
    border: 1px solid gold;
    text-align: center;
    width: 400px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.profile_stat{
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    margin-left: 10px;
    justify-content: center;
    border: 1px solid ;
    margin-bottom: 8px;

}

.Repo_list {
    list-style: none;
}

.Profile_info img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.Username {
    font-size: medium;
    font-style: inherit;
    font-family: "Times New Roman", Times, serif;
}

.user-info {
    display: flex;
    gap: 10px;
    margin-left: 12px;
}